{% extends 'admin/change_list.html' %}

{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
</div>
{% endblock %}

{% block result_list %}
    <h1>{{ name }}</h1>
    <h2 style="margin-bottom: 2em">Active: {{ is_offline }}</h2>
    {{ info_table | safe }}
    <br><br>
    <form method="post">
        {% csrf_token %}
            <input type="hidden" name="remove_plugin" value="{{ name }}">
            <input type="submit" value="Remove Plugin">
        </form>
{% endblock result_list %}