<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="/static/js/plotly-2.20.0.min.js"
    ></script>
    <link rel="preconnect" href="/" />
    <link rel="stylesheet" href="/static/assets/fonts/inter.css" />
    <title>RIXA</title>
    <script type="module" crossorigin src="/static/assets/main.CPiZleQw.js"></script>
    <link rel="modulepreload" crossorigin href="/static/assets/index.CwQGX2wq.js">
    <link rel="modulepreload" crossorigin href="/static/assets/dialog.DAViuju4.js">
    <link rel="modulepreload" crossorigin href="/static/assets/label.BMXaCV0l.js">
    <link rel="stylesheet" crossorigin href="/static/assets/index.css">
    <link rel="stylesheet" crossorigin href="/static/assets/main.css">
  </head>
  <body class="bg-gray-100 dark:bg-zinc-900">
    <div id="root"></div>
  </body>
</html>
