<!doctype html>
{% load static %}
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
    <!--    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>-->
        <script type="text/javascript" src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jshelpers.js' %}"></script>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>


    <body>
        <main>
            {% block content %}{% endblock %}
            <div style="width: 30%; margin-left: 35%;margin-top: 2em;background-color: #ff000075">{% bootstrap_messages %}</div>
        </main>



{#        <footer style="background-color: rgba(0, 0, 0, 0.05);position: fixed;bottom: 0;width: 100%;height: 5em">#}
{#            <div class="container container-fluid text-center">#}
{#            <div style="margin-top: 1.5em"></div>#}
{#                <div style="display: inline-block;">#}
{#                    <a href="https://http.cat/404" style="margin-right: 1em">Privacy Statement</a>#}
{#                    <a href="https://http.cat/404" style="margin-right: 1em">Contact</a>#}
{#                    <a href="https://http.cat/404" >Imprint</a>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
    </body>
</html>

