{% extends "base_account.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap5 %}
{% block title %}Account managment{% endblock %}
{% block content %}

<div class="container container-lg text-center">
<h1><a class="h1" href="/dashboard">Go to dashboard/chat</a></h1>

{% if not request.user.is_active%}
    <p class="text-bg-danger">Account not activated!.</p>
{%endif%}

<br>
<h3><a class="h3" href="{%url 'help'%}">Help page</a></h3>
<br>
<h2>RIXA Management</h2>
<br>
<p>
    This is for extending RIXA with custom instructions, your own code/plugins or knowledge (e.g. latex documents, pdfs etc)
    If you are interested, subscribe to our <a href="https://www.lists.kit.edu/sympa/subscribe/rixa-public">mailing list</a>
    to see when RIXA is ready for your private machine. Or contact us when you have something for this website in mind.
</p>





<h4>Config</h4>
<a class="text-info" href="{%url 'edit_chat_configuration'%}">Chat configurations</a>
<h4>Plugin auth keys</h4>
{% for name in downloadable_keys %}
    <form action="" method="post" class="mt-3" >
        {% csrf_token %}
         <input class="btn btn-info" type="submit"  name="download_id" value="{{ name }}">
    </form>
    <br>
{%endfor%}
{% if not downloadable_keys %}
    <p>No permission</p>
{%endif%}

<h2>Account managment</h2>
<form action="{%url 'account_user_logout'%}" method="post" class="mt-3">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Logout">
</form>
<br>
<h4><a class="h4" href="{%url 'user_info_dump'%}">See all data belonging to your account</a></h4>
<br>
This will deactivate your account. It will be deleted the next time data is taken for analysis.<br>
Your data will be completely anonymized. This is (for us) highly preferable to deleting the account.
<form action="" method="post" class="mt-3">
    {% csrf_token %}
    <input class="btn btn-warning" type="submit" id="deactivate_account" name="deactivate_account" value="Deactivate account">
</form>
<br>
Nuclear option. This will purge everything we have on you.
    <br>This option will affect our research quite a bit as it also affects statistics like avg. chat messages and so forth.
<form action="" method="post" class="mt-3">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" id="delete_account" name="delete_account" value="Delete account">
</form>

<script>
    document.getElementById('deactivate_account').onclick = function(){
        if(!confirm("Are you sure? This will deactivate your account.\n" +
            "You will not be able to login anymore. You can contact us if you want a copy of your data, reenable the account, etc.\n" +
            "After 1-2 weeks your account will be deleted and your data anonymized. Then reenabling etc. is not possible anymore.")){
            return false;
        }
    }


    document.getElementById('delete_account').onclick = function(){
        if(!confirm("Are you sure? This will purge everything!\nIt will potentially leave a significant dent in our research data.\n" +
            "Please consider deactivating the account instead. In this case it will be deleted the next time data is taken for analysis.\n" +
            "Your data will then be anonymized and kept for research purposes only.")){
            return false;
        }
    }
</script>
<br>
<h2>Contact</h2>
<p>
    If you have any questions, suggestions or problems, please contact us at
    <a href="mailto:rixa@iosb.fraunhofer.de">rixa@iosb.fraunhofer.de</a>


</div>

{% endblock %}
