<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RIXA</title>
    <script type="module" crossorigin src="/static/assets/register.Cfoh938t.js"></script>
    <link rel="modulepreload" crossorigin href="/static/assets/index.CNJJmEO6.js">
    <link rel="modulepreload" crossorigin href="/static/assets/dialog.DCunRaEI.js">
    <link rel="stylesheet" crossorigin href="/static/assets/index.css">
  </head>
  <body class="h-full bg-gray-100">
    <div id="root"></div>
  </body>
</html>
